body{
    margin: 0;
    padding: 0;
}

.d1{
    background-color: aqua;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    text-align: center;
}

.d2{
    float: left;
    background-color: aquamarine;
    width: 50%;
    height: 500px;
}

.d3{
    float: left;
    background-color: aquamarine;
    width: 50%;
    height: 500px;
}

.d4{
    clear: both;
    background-color: aqua;
    width: 100%;
    height: 100px;
}